/*.chat {
  width: 100%;
  height: 100%;
  color: black;
  text-align: right;
  background: white;
  border: black;
  border-style: solid;
}
.chatcontainer{
  width: 100%;
  height: 90%;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 2px solid #35bef0;
}
.chatcontainer2{
  width: 100%;
  height: 10%;
}*/
/*form {
  padding: 3px;
  position: relative;
  bottom: 0;
}*/
/*form input {
  width: 100%;
  height: 30px;
  border-radius: 0px 0px 0px 0px;
}*/
/*form button {
  width: 100%;
  height: 30px;
  position: inline-block;
}*/
#messages {
  height: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}


#A {
    border:1px solid blue;
    width: 100%;
    height: 100%;
    float:right;
    position: absolute;
    bottom:0px;
    right:0px;
}
#B {
    border: 1px solid red;
    position: absolute;
    bottom:0px;
    left:0px;
    height: 32px;
    width:80%;
}
#C {
    border: 1px solid red;
    position: absolute;
    bottom:0px;
    right:0px;
    height: 32px;
    width:20%;
}
#m {
  width: 100%;
  height: 100%;
}
